.objects-open .objects-open__image {
    margin-right: 40px;
}

.objects-open .objects-open__image .v-img {
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

.objects-open .objects-open__slider {
    max-width: 45%;
}

.objects-open .workers__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.objects-open .workers__list .v-list-item__action path {
    fill: grey;
}

.objects-open__comments {
    margin-bottom: 20px;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid;
}

.objects-open__comments-answers {
    margin-left: 30px
}

.objects-open__comments-add-actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 10px 0;
}

.objects-open__comments-add-actions .objects-open__comments-add-answerfor > * {
    color: #6386B9;
    opacity: 0.5;
}

.objects-open__comments-add-actions .action-btn {
    margin-left: auto;
}

@media screen and (max-width: 1200px) {

    .objects-open .workers__list {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .objects-open .objects-open__slider {
        max-width: 70%;
    }

    .objects-open .objects-open__slider .v-slide-group__content {
        max-width: 85vw;
    }
}

@media screen and (max-width: 568px) {
    .objects-open .objects-open__slider {
        max-width: 100%;
        padding: 0 !important;
    }
}