.objects-open .objects-open__image {
    margin-right: 40px;
}

.objects-open .objects-open__image .v-img {
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

.objects-open .objects-open__slider {
    max-width: 45%;
}

.objects-open .workers__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.objects-open .workers__list .v-list-item__action path {
    fill: grey;
}

@media screen and (max-width: 1200px) {

    .objects-open .workers__list {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .objects-open .objects-open__slider {
        max-width: 70%;
    }

    .objects-open .objects-open__slider .v-slide-group__content {
        max-width: 85vw;
    }
}

@media screen and (max-width: 568px) {
    .objects-open .objects-open__slider {
        max-width: 100%;
        padding: 0 !important;
    }
}