.profile .summary-box,
.workers-open, .objects-open {
    display: flex;
}

.profile .summary-box .profile__image,
.workers-open .profile__image {
    margin-right: 90px;
    width: 140px;
    min-height: 140px;
}

.profile__image .v-img,
.workers-open .profile__image .v-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #9E9E9E;
}

.profile__change-photo {
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
}

.profile__info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 80px;
}

.profile__info li {
    font-size: 20px;
    display: flex;
    align-items: baseline;
}

.profile__info-title {
    width: 140px;
    margin-right: 50px;
}